<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>

<!--Header "Purchase sessions here"-->
<div class="container">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="your label"
      >
        <app-room-list></app-room-list>
        <app-time-list></app-time-list>
      </mat-tab
    >
    <mat-tab label="your label">
      <app-appointment-list></app-appointment-list
    ></mat-tab>
    <mat-tab label="your label">your Content </mat-tab>
  </mat-tab-group>
</div>
