<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div>

<!--Header "Purchase sessions here"-->
<div class="container">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Book Room">
      <app-room-list (roomSelected)="roomSelected($event)"></app-room-list>
      <app-time-list (timeSelected)="timeSelected($event)"></app-time-list>
    </mat-tab>
    <mat-tab label="Your Bookings">
      <app-appointment-list></app-appointment-list
    ></mat-tab>
  </mat-tab-group>
  <!-- purchase time material button -->
    <button
      mat-raised-button
      color="primary"
      (click)="purchaseTime()"
      [disabled]="!selectedTime || !selectedRoom"
    >
      Purchase Time
    </button>
</div>

<!--Footer-->
<footer class="footer">
  <div class="container"></div>
</footer>
