<!-- form to create room -->
<form (ngSubmit)="onSubmit()" #roomForm="ngForm">
    <div class="form-group">
        <label>Room Name</label>
        <input type="text" class="form-control" name="roomName" [(ngModel)]="roomName" required>
    </div>
    <div class="form-group">
        <label>Room Description</label>
        <input type="text" class="form-control" name="roomDescription" [(ngModel)]="roomDescription"  required>
    </div>
    <div class="form-group">
        <label>Room Capacity</label>
        <input type="number" class="form-control" name="roomCapacity" [(ngModel)]="roomCapacity"required>
    </div>
    <div class="form-group">
        <label>Room Location</label>
        <input type="text" class="form-control" name="roomLocation" [(ngModel)]="roomLocation" required>
    </div>
    <!-- Price per hour -->
    <div class="form-group">
        <label>Price Per Day</label>
        <input type="number" class="form-control" name="roomPrice" [(ngModel)]="roomPrice" required>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!roomForm.form.valid">Create Room</button>
</form>