<header class="jumbotron">
  <h3>Purchase Time</h3>
</header>
<body>
    <!--radio button time selection-->
    <div class="row">
      <div class="col-sm-4" *ngFor="let time of times">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">{{time}} Hours</h5>
              <mat-radio-group
                aria-label="Select an option"
                [(ngModel)]="selectedTime"
              >
                <mat-radio-button
                  [value]="time"
                  (change)="onTimeChange($event)"
                  >Select</mat-radio-button
                >
              </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
</body>
