<header class="jumbotron">
  <h3>Purchase Time</h3>
</header>
<body>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">1 Hour</h5>
          <p class="card-text">1 Hour of time</p>
          <a (click)="purchaseHours(1)" class="btn btn-primary">Purchase</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">8 Hours</h5>
          <p class="card-text">8 Hours of time</p>
          <a (click)="purchaseHours(8)" class="btn btn-primary">Purchase</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">40 Hours</h5>
          <p class="card-text">40 Hours of time</p>
          <a (click)="purchaseHours(40)" class="btn btn-primary">Purchase</a>
        </div>
      </div>
    </div>
  </div>
</body>
